body{
    background-color: moccasin;
    margin: 0%;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    padding-left: 500px;
    padding-right: 500px;
    font-family: serif;
}
.divtotazzi{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px;
    background-color: rgb(255, 254, 253);
    padding: 10px;
    font-family: serif;
}
#submit{
    margin-top: 30px;
    background-color: rgb(255, 82, 38);
    color: rgb(216, 169, 169);
    padding-top: ;
    font-family: serif;
    margin-bottom: 15px;
}
#submit:hover{
    background-color: rgb(244, 140, 102);
    font-family: serif;

}
.divform{
    padding: 20px;
    font-family: serif;"
}
input{
    padding: 5px;
    font-family: serif;
}
iframe {
    width: 100%;
}
footer {
    background-color: black;
}