body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgba(0,0,0,0.9);
    color: whitesmoke;
    background-image: url(https://i.pinimg.com/564x/99/95/d3/9995d323f18760ded6772465378b6525.jpg);
}
#title{
    margin-top: 20px;
    color: black;
}
#banner{
    text-align: center;
    font-size: 30px;
}
#article_main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-left: 5px solid red;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: justify;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9)git;
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    background-color: black;

}
.title2{
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px
}
#article_team{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    border-top: 5px solid red;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: justify;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    background-color: black;
    margin-bottom: 20px;
    
}
.div_team{
    display: flex;
    margin-bottom: 30px;
}
.sect_team{
    margin: auto;
    border-top: 5px solid red;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: justify;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    width: 33%;
    margin-right: 15px;
}
.subtitle{
    text-align: center;
}
footer{
    background-color: black;
    margin-top: 10px
}
