<!DOCTYPE html>
<html id="html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../layouts/footer.css">
    <link rel="icon" type="imagem/x-icon" href="../assets/images/icon.png">
</head>
<body>
    <footer>
        <a href="https://linktr.ee/Amanda420.2007?utm_source=linktree_profile_share&ltsid=21ba03a6-9a1e-4976-9565-96b86691a757" target="_blank">
             <img src="../assets/images/logolinktree.png" alt="logo no footer" width="64" height="64">
        </a>
        <p>Todos os direitos reservados &copy;2023 </p>
    </footer>
</body>
</html>