<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
    <title>header</title>
</head>
<body>
    <header>
        <div id="divlogo"><img id="logo" src="../assets/images/logo.png" width="150px" height="100px"></div>
        <nav>
            <ul class="anav">
                <li><a  href="../Index.html">Home</a></li>
                <li><a  href="../pages/menu.html">Menu</a></li>
                <li><a  href="../pages/sobre.html">Sobre nos</a></li>
                <li><a  href="../pages/contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>